<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>战术大师</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>

    <div class="header-container">
        <div class="authorable-reference parbase header">
            <div style="display:inline;" class=" cq-dd-paragraph non-authorable">
                <div class="header-ref-content">
                    <div class="header-ref-content parsys">
                        <div class="atvi-component atvi-reference  ">
                            <div class="parbase content-tile content_tile">
                                <div class="atvi-component atvi-content-tile ignore-id template  ">
                                    <div class="header-wrapper">
                                        <div class="header-content">
                                            <div class="inner-wrapper">
                                                <div class="nav-toggle-wrapper">
                                                    <a class="nav-toggle" href="#">
                                                        <span class="patty"></span>
                                                    </a>
                                                </div>
                                                <div class="logo-wrapper">
                                                    <a class="logo-link image-wrapper"
                                                       href="https://www.baidu.com">
                                                        <img class="logo" src="{% static "img/bc-logo.png" %}">
                                                    </a>
                                                </div>
                                                <div class="download-wrapper">
                                                    <p><a href="https://www.baidu.com" target="_blank">点我试一下</a></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="{% static "img/3.png" %}" style=" width: 100%;height:auto;">
    </div>
    <div class="row">
        <img src="{% static "img/7.png" %}" style=" width: 100%;height:auto;margin-top:-3.95%;z-index:10">
    </div>
    <div class="row">
        <img src="{% static "img/11.png" %}" style=" width: 100%;height:auto;margin-top:-1%;z-index:0;">
        <div> </div>
    </div>
    <div class="row">
        <img src="{% static "img/8.png" %}" style=" width: 100%;height:auto;margin-top:-2.28%;z-index:0">
        <div> </div>
    </div>
    <div>
        <img src="{% static "img/16.png" %}" style=" width: 100%;height:auto;margin-top:-1%;">
        <div> </div>
    </div>
    <div>
        <img src="{% static "img/9.png" %}" style=" width: 100%;height:auto;margin-top:-4.2%;">
    </div>
    <div class="row">
        <img src="{% static "img/17.png" %}" style=" width: 100%;height:auto;margin-top:-1%">
        <div> </div>
    </div>
    <div class="row">
        <img src="{% static "img/10.png" %}" style=" width: 100%;height:auto;margin-top:-1.5%;">
        <div> </div>
    </div>
</body>
</html>